Sidora-MCI/Karaf-Config/Input/schemas/MCIProjectSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Fields">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Field" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="div" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="p" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Type" use="optional"/>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="DisplayName" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="Unique">
            <xs:selector xpath="Field"/>
            <xs:field xpath="@Type"/>
            <xs:field xpath="@Name"/>
            <xs:field xpath="@DisplayName"/>
        </xs:unique>
    </xs:element>
</xs:schema>

